* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.spacer {
  max-width: 1400px;
  padding: 0px 20px;
  margin: auto;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

button a {
    color: inherit;
    text-decoration: none;
}

header {
  color: white;
  background-color: #d22a36;
  width: 100%;
}

nav {
  padding: 10px 0px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-container .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.flex-container ul {
  font-size: 18px;
  color: #e5e7eb;

  display: flex;
  gap: 18px;
}

.sign-in {
  border: none;
  padding: 6px 22px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

nav li a:hover {
    border-bottom: 2px solid #e5e7eb;
}

/**************************************************************/

.hero-content .sign-in {
  margin-top: 8px;
  color: white;
  background-color: black;
}

.main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero .flex-container {
  gap: 25px;
}

.hero .flex-container > div {
  flex: 1;
}

.hero .placeholder {
  background-color: grey;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 100px 0px;
}

/**************************************************************/

.info {
  padding-bottom: 100px;
}

.info .heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin-top: 25px;
}

.info .profile-img {
  width: 150px;
  height: 150px;
  outline: 5px solid black;
  border-radius: 10px;
}

.info .flex-container {
  margin-top: 25px;
  justify-content: center;
  gap: 50px;
}

.info .flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.info .description {
  text-align: center;
  margin-top: 8px;
}

/**************************************************************/

.quote {
  background-color: #e5e7eb;
  padding: 40px;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-weight: 900;
  font-size: 20px;
}

/**************************************************************/

.action .flex-container {
  background-color: black;
  border-radius: 5px;
  padding: 50px 70px;
  margin: 100px 0px;
  justify-content: space-around;
}

.sign-info h3 {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.action .flex-container .sign-in {
  color: #e5e7eb;
  background-color: black;
  border: #e5e7eb 3px solid;
}

/**************************************************************/

footer {
  background-color: #1f2937;
  padding: 25px;
  margin-top: auto;
}

footer div {
  text-align: center;
  color: #f9faf8;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
